.Rproj.user
.Rhistory
.RData
.Ruserdata
dpcR_presentation.Rproj
presentation-concordance.tex
presentation.bbl
presentation.log
presentation.nav
presentation.snm
presentation.synctex.gz
presentation.tex
presentation.toc
presentation.out
presentation.aux
static_figure/dpcreport_workflow_full-eps-converted-to.pdf
static_figure/dpcreport_workflow_p1-eps-converted-to.pdf
static_figure/dpcreport_workflow_p2-eps-converted-to.pdf
static_figure/dpcreport_workflow_p3-eps-converted-to.pdf
static_figure/dpcreport_workflow_p4-eps-converted-to.pdf
static_figure/dpcreport_workflow_p5-eps-converted-to.pdf
