.Rproj.user
.Rhistory
.RData
.Ruserdata
dpcR_presentation.Rproj
presentation-concordance.tex
presentation.bbl
presentation.log
presentation.nav
presentation.snm
presentation.synctex.gz
presentation.tex
presentation.toc
